<% if !session[:user_id] %>
	<%= link_to "Login", login_path %>
<% end %>
<h1>uniMeet</h1>
<div>
	Description of the app. Description Description lorum ipsum
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec velit ac augue semper ultrices. Phasellus a rhoncus metus, non facilisis neque. In ut sodales est. Vestibulum suscipit pulvinar nulla, ut venenatis mauris malesuada nec. Integer id porta diam. Cras augue enim, viverra eget nibh sit amet, tincidunt aliquam purus. Donec mattis tincidunt justo at lobortis. Sed viverra feugiat diam et tempus. Nam pharetra commodo nisl dignissim pharetra. Curabitur non nibh sed nisi semper malesuada. Curabitur sollicitudin iaculis nulla eget finibus. Donec pretium nulla sed sapien bibendum, vel volutpat quam consequat. Integer id erat arcu. Sed magna ante, venenatis ac velit non, dictum cursus sem. Nulla porttitor pharetra mi vehicula lobortis. Suspendisse lacus turpis, bibendum porttitor leo non, blandit auctor urna.
</div>
<hr>
<% if session[:user_id] %>
	<%= link_to "Chats", all_chats_path(session[:user_id]) %> |
	<%= link_to "Logout", logout_path, method: :delete %>
<% end %>