<div class="cntr">
	<% if !session[:user_id] %>
		<%= link_to "Login", login_path, {style: 'font-size: 17px;'} %>
	<% end %>
	<h1 class="cursive-title">UniMeet</h1>
	<div>
		Meet other students at your university. We'll help match you based on your personality after you complete your profile. 
	</div>
	<hr>
	<% if session[:user_id] %>
		<%= link_to "Chats", all_chats_path(session[:user_id]), {style: 'font-size: 17px;'} %> |
		<%= link_to "Logout", logout_path, {style: 'font-size: 17px;', method: :delete} %>
	<% end %>
</div>